<ion-menu side="start" menuId="first" contentId="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>فهرست</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="/menu/search">
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>
              جستجوی فیلم و سریال
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="/menu/games">
            <ion-icon name="game-controller" slot="start"></ion-icon>
            <ion-label>
              جستجوی بازی
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="/menu/favorites">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>
              علاقمندی‌ها
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="/menu/about">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
              درباره من
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
