img {
  margin-top: 10px;
  width: 110px;
  height: 100px;
}

ion-content {
  --background: none;
  background-image: url("../../../assets/img/about.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-card {
  background: #ffffffe3;
  border-radius: 15px;
  border: 2px solid var(--ion-color-primary);
}

ion-item {
  --ion-item-background: none;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  border-radius: 50% !important;
}
