

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" #slide>
    <ion-slide>
      <ion-img src="./assets/img/movie.png"></ion-img>
      <h2 class="ion-padding">به بانک اطلاعاتی فیلم و بازی<br>خوش آمدید</h2>
        <p>قوی ترین اپلیکیشن جستجوی فیلم‌ و بازی‌</p>
        <ion-button expand="true" (click)="next()" color="light">
          سایر اپلیکیشن‌های توسعه دهنده
        </ion-button>

    </ion-slide>

    <ion-slide>
      <ion-img class="image-m" src="./assets/img/lite.png"></ion-img>
      <h2 class="ion-padding">دانلود کتاب‌های زبان اصلی</h2>
      <p> بهترین اپلیکیشن جستجو و دانلود کتاب</p>
      <ion-button expand="true" (click)="next()" color="light">
        اپلیکیشن بعدی
      </ion-button>

    </ion-slide>

    <ion-slide>
      <ion-img class="image-m ncImg" src="./assets/img/nc.png"></ion-img>
      <h2 class="ion-padding">اپلیکیشن ثبت عدم انطباق</h2>
      <p> اولین اپلیکیشن گزارش عدم انطباق در ایران</p>
      <ion-button expand="block" (click)="start()" color="light">
        ورود به اپلیکیشن
      </ion-button>

    </ion-slide>
  </ion-slides>

</ion-content>
