ion-label {
  font-family: IranSans !important;
}

ion-content {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.notFound {
  display: flex;
  color: var(--ion-color-primary);
  justify-content: center;
  align-content: center;
}

.movieBox {
  background: #ffffffe8;
}
ion-item {
  --ion-item-background: none !important;
}

