ion-label {
  font-family: IranSans !important;
}

ion-content {
  --background: none;
  background-image: url("../../../assets/img/result.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.notFound {
  display: flex;
  color: var(--ion-color-dark);
  text-emphasis: #1e2023;
  justify-content: center;
  align-content: center;
}

ion-list {
  --ion-background-color: none;
}

.coloring {
  color: white;
}

