*{
  font-family: IranSans !important;
}

.image-m {
  width: 150px;
  height: 150px;
}

.image-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: none;
  background-image: url("../../../assets/img/game.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-img {
  width: 100px;
  height: 100px;
}

.searchBox {
  margin: 1em;
  margin-top: 10vh;
  background: #ffffffe3;
  border-radius: 15px;
  border: 2px solid var(--ion-color-dark);
}

ion-item {
  --ion-item-background: none;
}
